.time-container {
    font-size: 20px;
    color: rgb(19, 95, 171);
    text-align: center;
    margin-top: 20px;
  }
  .main-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #00aaff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .main-button:hover {
    transform: scale(1.05);
  }
  