footer {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto; 
}

html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1; 
}
