@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

.leaderboard {
    background-color: #A1D6B2;
    font-family: "Dongle", sans-serif;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    color: #36454F;
    color: white;
    text-align: center;
    font-size: 30px;
}

.leaderboard ol {
    list-style: none;
    padding: 0;
}

.leaderboard li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #444;
    font-size: 1.2rem;
}

.leaderboard .highlight {
    font-weight: bold;
    color: #FF6F61;
}